body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 70px;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 750px;
    background: goldenrod;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 70px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-bottom: 8px;
    margin-top: 8px;
}